---
http_interactions:
- request:
    method: post
    uri: https://api.spotify.com/v1/users/kamiboers/playlists
    body:
      encoding: UTF-8
      string: '{"name":" - FITBEAT", "public":false}'
    headers:
      Authorization:
      - Bearer BQBtztiUCJPINRCNpJpbuG_1UtYrVfNLXtNJRgzKnhz23hhKTJTgbmihkZlpXQZ9l2ej3jcex5O1G3vXjbO3DUxOQe2Rj1cwyjdZoAPbIIIw6UxO106uA0UO6Vhl_vt_d0H8ijfD__-uSE5X1QQ6PSA-8uN3sASGUCrMipRNcAkvtGsaIkO6DBC51x5u-rYhvRny3tWDYLmo9NrP4GgDm4cfsYkDGEXKnj4nE6x2H5oU7aBuu30RMuME5ycPO0u5cNIXL7m4uw
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.spotify.com/v1/users/kamiboers/playlists/6BaMjok7eHbhKH4No2FBdG
    body:
      encoding: UTF-8
      string: |-
        {
          "collaborative" : false,
          "description" : null,
          "external_urls" : {
            "spotify" : "http://open.spotify.com/user/kamiboers/playlist/6BaMjok7eHbhKH4No2FBdG"
          },
          "followers" : {
            "href" : null,
            "total" : 0
          },
          "href" : "https://api.spotify.com/v1/users/kamiboers/playlists/6BaMjok7eHbhKH4No2FBdG",
          "id" : "6BaMjok7eHbhKH4No2FBdG",
          "images" : [ ],
          "name" : " - FITBEAT",
          "owner" : {
            "external_urls" : {
              "spotify" : "http://open.spotify.com/user/kamiboers"
            },
            "href" : "https://api.spotify.com/v1/users/kamiboers",
            "id" : "kamiboers",
            "type" : "user",
            "uri" : "spotify:user:kamiboers"
          },
          "public" : false,
          "snapshot_id" : "j8pgzmyfieGfoxdQ1VcLgL6VSVVeYzPe5SN0eKFs1TDhkv6WaniNESkE1YHjIURK",
          "tracks" : {
            "href" : "https://api.spotify.com/v1/users/kamiboers/playlists/6BaMjok7eHbhKH4No2FBdG/tracks",
            "items" : [ ],
            "limit" : 100,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 0
          },
          "type" : "playlist",
          "uri" : "spotify:user:kamiboers:playlist:6BaMjok7eHbhKH4No2FBdG"
        }
  recorded_at: Thu, 16 Jun 2016 05:59:50 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=50&offset=0&q=genre:%22pop%22&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=genre%3A%22pop%22&offset=0&limit=50&type=track",
            "items" : [ {
              "album" : {
                "album_type" : "album",
                "available_markets" : [ "AR", "AU", "AT", "BE", "BO", "BR", "BG", "CA", "CL", "CO", "CR", "CY", "CZ", "DK", "DO", "DE", "EC", "EE", "SV", "FI", "FR", "GR", "GT", "HN", "HK", "HU", "IS", "IE", "IT", "LV", "LT", "LU", "MY", "MT", "MX", "NL", "NZ", "NI", "NO", "PA", "PY", "PE", "PH", "PL", "PT", "SG", "SK", "ES", "SE", "CH", "TW", "TR", "UY", "US", "GB", "AD", "LI", "MC", "ID" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/2UJwKSBUz6rtW4QLK74kQu"
                },
                "href" : "https://api.spotify.com/v1/albums/2UJwKSBUz6rtW4QLK74kQu",
                "id" : "2UJwKSBUz6rtW4QLK74kQu",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/fd3cac76a8f1f3cab516f06873eeec16977efdf0",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/d4555b9bd991c8759ae9a5d8b5be2e836c2cb8d7",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/bc4707dd23d5c0c0c5d27d2a381fe7d3191e5e7c",
                  "width" : 64
                } ],
                "name" : "BEYONCÉ [Platinum Edition]",
                "type" : "album",
                "uri" : "spotify:album:2UJwKSBUz6rtW4QLK74kQu"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/6vWDO969PvNqNYHIOW5v0m"
                },
                "href" : "https://api.spotify.com/v1/artists/6vWDO969PvNqNYHIOW5v0m",
                "id" : "6vWDO969PvNqNYHIOW5v0m",
                "name" : "Beyoncé",
                "type" : "artist",
                "uri" : "spotify:artist:6vWDO969PvNqNYHIOW5v0m"
              } ],
              "available_markets" : [ "AR", "AU", "AT", "BE", "BO", "BR", "BG", "CA", "CL", "CO", "CR", "CY", "CZ", "DK", "DO", "DE", "EC", "EE", "SV", "FI", "FR", "GR", "GT", "HN", "HK", "HU", "IS", "IE", "IT", "LV", "LT", "LU", "MY", "MT", "MX", "NL", "NZ", "NI", "NO", "PA", "PY", "PE", "PH", "PL", "PT", "SG", "SK", "ES", "SE", "CH", "TW", "TR", "UY", "US", "GB", "AD", "LI", "MC", "ID" ],
              "disc_number" : 2,
              "duration_ms" : 213506,
              "explicit" : false,
              "external_ids" : {
                "isrc" : "USSM11408532"
              },
              "external_urls" : {
                "spotify" : "https://open.spotify.com/track/02M6vucOvmRfMxTXDUwRXu"
              },
              "href" : "https://api.spotify.com/v1/tracks/02M6vucOvmRfMxTXDUwRXu",
              "id" : "02M6vucOvmRfMxTXDUwRXu",
              "name" : "7/11",
              "popularity" : 81,
              "preview_url" : "https://p.scdn.co/mp3-preview/c17eaf47f9624029dadcd7672b7896c84923e28c",
              "track_number" : 1,
              "type" : "track",
              "uri" : "spotify:track:02M6vucOvmRfMxTXDUwRXu"
            }, {
              "album" : {
                "album_type" : "single",
                "available_markets" : [ "CA", "MX", "US" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/4S8F794ucXJcAtycwOZgR9"
                },
                "href" : "https://api.spotify.com/v1/albums/4S8F794ucXJcAtycwOZgR9",
                "id" : "4S8F794uc[...]
[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/audio-features/?ids=02M6vucOvmRfMxTXDUwRXu,0NTMtAO2BV4tnGvw9EgBVq,7vFv0yFGMJW3qVXbAd9BK9,6YUTL4dYpB9xZO5qExPf05,4DvhkX2ic4zWkQeWMwQ2qf,6Uy6K3KdmUdAfelUp0SeXn,4JaLkM90MJutDAl5jD9BZX,0mUyMawtxj1CJ76kn9gIZK,5b88tNINg4Q4nrRbrCXUmg,1x80xTzSL7pok3M5JC3oJz,5xEM5hIgJ1jjgcEBfpkt2F,6j7hih15xG2cdYwIJnQXsq,28GUjBGqZVcAV4PHSYzkj2,3IJCSQoLF4YzPAKaxq2JLb,423RKXolCbgBbkF8WanOwA,0U969xYNlAyfzi8P1TaO7u,6f3Kn4QtwZPU2IvwwDSbLF,0Dw9z44gXhplDh5HCWZIxP,0kr[...]
- request:
    method: post
    uri: https://api.spotify.com/v1/users/kamiboers/playlists/6BaMjok7eHbhKH4No2FBdG/tracks?uris=spotify:track:02M6vucOvmRfMxTXDUwRXu,spotify:track:0NTMtAO2BV4tnGvw9EgBVq,spotify:track:7vFv0yFGMJW3qVXbAd9BK9,spotify:track:6YUTL4dYpB9xZO5qExPf05,spotify:track:4DvhkX2ic4zWkQeWMwQ2qf,spotify:track:6Uy6K3KdmUdAfelUp0SeXn,spotify:track:4JaLkM90MJutDAl5jD9BZX,spotify:track:0mUyMawtxj1CJ76kn9gIZK,spotify:track:5b88tNINg4Q4nrRbrCXUmg,spotify:track:1x80xTzSL7pok3M5JC3oJz,spoti[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/users/kamiboers/playlists/6BaMjok7eHbhKH4No2FBdG/tracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBtztiUCJPINRCNpJpbuG_1UtYrVfNLXtNJRgzKnhz23hhKTJTgbmihkZlpXQZ9l2ej3jcex5O1G3vXjbO3DUxOQe2Rj1cwyjdZoAPbIIIw6UxO106uA0UO6Vhl_vt_d0H8ijfD__-uSE5X1QQ6PSA-8uN3sASGUCrMipRNcAkvtGsaIkO6DBC51x5u-rYhvRny3tWDYLmo9NrP4GgDm4cfsYkDGEXKnj4nE6x2H5oU7aBuu30RMuME5ycPO0u5cNIXL7m4uw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"AAAAAnhdsEmSz+JPW+nXSaLlLwuuInDw"'
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://api.spotify.com/v1/users/kamiboers/playlists/6BaMjok7eHbhKH4No2FBdG/tracks?offset=0&limit=100",
          "items" : [ {
            "added_at" : "2016-06-16T05:59:56Z",
            "added_by" : {
              "external_urls" : {
                "spotify" : "http://open.spotify.com/user/kamiboers"
              },
              "href" : "https://api.spotify.com/v1/users/kamiboers",
              "id" : "kamiboers",
              "type" : "user",
              "uri" : "spotify:user:kamiboers"
            },
            "is_local" : false,
            "track" : {
              "album" : {
                "album_type" : "album",
                "available_markets" : [ "AR", "AU", "AT", "BE", "BO", "BR", "BG", "CA", "CL", "CO", "CR", "CY", "CZ", "DK", "DO", "DE", "EC", "EE", "SV", "FI", "FR", "GR", "GT", "HN", "HK", "HU", "IS", "IE", "IT", "LV", "LT", "LU", "MY", "MT", "MX", "NL", "NZ", "NI", "NO", "PA", "PY", "PE", "PH", "PL", "PT", "SG", "SK", "ES", "SE", "CH", "TW", "TR", "UY", "US", "GB", "AD", "LI", "MC", "ID" ],
                "external_urls" : {[...]
[...]
