---
http_interactions:
- request:
    method: get
    uri: https://api.fitbit.com/1/user/4NVG4D/activities/heart/date/today/1w.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      # Authorization:
      # - Bearer eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE0NjYwMTkwMTgsInNjb3BlcyI6InJwcm8gcmhyIHJsb2Mgcm51dCByc2xlIHJzZXQgcmFjdCByc29jIiwic3ViIjoiNE5WRzREIiwiYXVkIjoiMjI3VERGIiwiaXNzIjoiRml0Yml0IiwidHlwIjoiYWNjZXNzX3Rva2VuIiwiaWF0IjoxNDY2MDE1NDE4fQ.Vd__v5jZBJygGe32juUQfTPF0ChNZ7sInhDLDPtKa5U
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Fitbit-Rate-Limit-Limit:
      - '150'
      Fitbit-Rate-Limit-Remaining:
      - '141'
      Fitbit-Rate-Limit-Reset:
      - '1723'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"activities-heart":[{"dateTime":"2016-06-09","value":{"customHeartRateZones":[],"heartRateZones":[{"max":95,"min":30,"name":"Out
        of Range"},{"max":133,"min":95,"name":"Fat Burn"},{"max":161,"min":133,"name":"Cardio"},{"max":220,"min":161,"name":"Peak"}]}},{"dateTime":"2016-06-10","value":{"customHeartRateZones":[],"heartRateZones":[{"caloriesOut":593.717,"max":95,"min":30,"minutes":439,"name":"Out
        of Range"},{"caloriesOut":225.3765,"max":133,"min":95,"minutes":69,"name":"Fat
        Burn"},{"caloriesOut":0,"max":161,"min":133,"minutes":0,"name":"Cardio"},{"caloriesOut":0,"max":220,"min":161,"minutes":0,"name":"Peak"}],"restingHeartRate":68}},{"dateTime":"2016-06-11","value":{"customHeartRateZones":[],"heartRateZones":[{"caloriesOut":1144.753,"max":95,"min":30,"minutes":990,"name":"Out
        of Range"},{"caloriesOut":544.87675,"max":133,"min":95,"minutes":140,"name":"Fat
        Burn"},{"caloriesOut":21.6875,"max":161,"min":133,"minutes":3,"name":"Cardio"},{"caloriesOut":0,"max":220,"min":161,"minutes":0,"name":"Peak"}],"restingHeartRate":66}},{"dateTime":"2016-06-12","value":{"customHeartRateZones":[],"heartRateZones":[{"calo[...]
