<div id="backstretch">
	<div class="inner fadein2">
		<h1 class="cover-heading">Welcome to FitBeat</h1>
		<p class="lead">
			<%= button_to 'auth/fitbit_oauth2',  class: "btn btn-lg btn-secondary" do %>Sign in with <%= image_tag('fitbit-logo.png', width: '90') %><% end %>
		</p>
	</div>
</div>