.bootstrap-welcome {
  padding-top: 5em;
}

.inner {
  color: white;
  text-align: center;
  position: absolute;
  width: 400px;
  height: 180px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: 130px 0 0 -200px;
  background: gray;
  opacity: 0.6;
  border-radius: 25px;
  padding-top: 20px;
 }

 body {
   background: url(running2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

.dashboard-box {
  background-color: white;
  width: 100%;
  opacity: 0.98;
}

.dash-nav {
  text-align: right;
  border-radius: 25px;
}

.fadein1 {
    -webkit-animation: fadein 1s ease 0s forwards;
}

/* .fadein2 {
    -webkit-animation-delay: 0.7s;
    -webkit-animation: fadein 3s ease 0s forwards;
    opacity: 0.6;
} */

.card {
margin-top: 25px;
overflow: hidden;
padding: 15px;
}

.hide {
  display: none;
}